* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    min-height: 100vh;
    background-color: rgb(25,146,212);
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
  }
  
  
  
  .sidebar {
    grid-row-start: span 2;
    padding: 10px 15px;
    display: grid;
    grid-template-rows: 2rem 8rem 3rem;
    
  }
  
  .main-content {
    background-color: rgb(226,232,240);
    color: black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2rem 1fr 2rem 1fr;
    padding: 10px;
    gap:10px;
  }
  
  .projects {
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
  
  ul {
    list-style: none;
  }
  
  .header {
    background-color:white;
    color: black;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 7%);
    z-index: 10;
    padding: 10px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1rem 1fr;
  }
  
  .card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 0px orange inset, 3px 3px 3px rgba(0, 0, 0, 7%);
    padding: 15px;
    }

  .card :nth-child(1) {
    font-weight: bolder;
    font-size: .75rem;
  }

  .card :nth-child(2) {
    font-size: .5rem;
  }

  .main-heading {
    /* grid-column-start: 1;
    grid-column-end: -1; */
  }
  
  .main-sub {
    padding-left: 15px;
    
  }

  .main-sub :nth-child(1) {
    padding-bottom: 15px;
    
  }

  .corner-profile {
    justify-self: right;
    padding-right: 15px;
  }

  .link-list {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
  }

  .link-button {
    background-color: rgb(25,146,212);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
  }

  .link-button:hover {
    background-color: rgb(16, 79, 112);
  }

.under-search {
    align-self: end;
}

/* .sidebar li:hover {
    background-color: rgb(16, 79, 112);
} */

a {
  text-decoration: none;
  color: white;
}

.announcements {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 7%);
  border-radius: 6px; 
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 15px;
}

.trending {
  background-color: white;
  padding: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 7%);
  border-radius: 6px;
}

.main-content-heading {
 align-self: center;
}
